@tailwind base;
@tailwind components;
@tailwind utilities;

@import "material-icons/iconfont/material-icons.css";

:root {
  --dark: #27374d;
  --semiDark: #526d82;
  --regular: #9db2bf;
  --light: #dde6ed;
  --white: #fffbf5;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--dark);
  background: #ffffff;
  scroll-behavior: smooth;
}

.childContainer {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  max-width: 100vw;
}
