@keyframes breath {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scrollTextRight {
    from {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
}

@keyframes scrollTextLeft {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-30%);
        -webkit-transform: translateX(-30%);
        -moz-transform: translateX(-30%);
        -ms-transform: translateX(-30%);
        -o-transform: translateX(-30%);
    }
}

@keyframes fadeTop {
    from {
        opacity: 0;
        transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -moz-transform: translateY(200px);
        -ms-transform: translateY(200px);
        -o-transform: translateY(200px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

.hero {
    width: 100vw;
    height: calc(100vh);
    background-color: var(--dark);
    color: var(--white);
    display: flex;
    flex-direction: row;
    position: relative;

    .containerImage {
        display: flex;
        animation-timing-function: ease-in-out;
        z-index: 1;

        img {
            object-fit: contain;
            object-position: bottom;
        }
    }

    .containerText {
        display: flex;
        position: absolute;
        width: 100vw;
        overflow: hidden;
        top: 90px;
        height: 230px;

        .nameBackdrop {
            color: var(--light);
            font-size: 150px;
            font-weight: 800;
            white-space: nowrap;
            position: absolute;
            display: flex;
            animation: scrollTextLeft 1s ease-in-out;
            transform: translatex(-30%);
            z-index: 0;
            -webkit-animation: scrollTextLeft 1s ease-in-out;
            -webkit-transform: translatex(-30%);
            -moz-transform: translatex(-30%);
            -ms-transform: translatex(-30%);
            -o-transform: translatex(-30%);
        }
    }

    .textBehind {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 175px;
        right: 0;
        margin: auto auto;
        display: flex;
        flex-direction: column;
        color: var(--semiDark) !important;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: -moz-fit-content;
        width: fit-content;
        height: -moz-fit-content;
        height: fit-content;
        z-index: 0;
        margin-bottom: calc(130px + 89px);

        i {
            display: flex;
            height: fit-content;
            width: fit-content;
            position: absolute;
            left: -50px;
            top: -50px;
            font-size: 38px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
        }

        span {
            position: relative;
            width: fit-content;
            min-height: 38px;
            min-width: 1px;
        }

        span::after {
            content: "";
            display: flex;
            height: 100%;
            width: 3px;
            background-color: var(--semiDark);
            position: absolute;
            right: 0px;
            top: 0px;
            animation: breath 1s ease-in-out infinite;
        }
    }

    .socialIcons {
        height: fit-content;
        display: flex;
        flex-direction: row;
        gap: 22px;
        list-style: none;
        padding: 0px;
        margin: 0px;
        position: sticky;
        bottom: 40px;
        right: 0;
        top: 0;
        left: 0;
        margin: auto;
        margin-bottom: 40px;
        margin-right: 40px;
        animation: fadeTop 1s ease-in-out;
        -webkit-animation: fadeTop 1s ease-in-out;

        li {
            width: fit-content;
            height: fit-content;

            a {
                width: fit-content;
                height: fit-content;

                svg {
                    width: 20px;
                    height: 20px;

                    &:hover {

                        path {
                            fill: var(--light);
                        }
                    }
                }
            }
        }
    }

    &::before {
        content: '';
        width: 100vw;
        height: 89px;
        position: absolute;
        background-color: var(--dark);
        top: -89px;
        left: 0;
    }
}

.about {
    position: relative;
    background-color: white;
    color: var(--semiDark);
    padding: 80px 0px;
    z-index: 3;

    .left {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 50px;

        a {
            position: relative;
            margin: auto;
            background-color: var(--dark);
            color: var(--light);
            width: fit-content;
            width: 160px;
            height: 160px;
            justify-content: center;
            display: flex;
            text-align: center;
            flex-direction: column;
            text-transform: uppercase;
            border-radius: 50pc;
            -webkit-border-radius: 50pc;
            -moz-border-radius: 50pc;
            -ms-border-radius: 50pc;
            -o-border-radius: 50pc;
            transform: scale(1);
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -ms-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;

            p {
                z-index: 1;
            }

            &::before {
                content: "";
                background-color: var(--semiDark);
                width: 0px;
                height: 0px;
                position: absolute;
                z-index: 0;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                margin: auto;
                border-radius: 50pc;
                -webkit-border-radius: 50pc;
                -moz-border-radius: 50pc;
                -ms-border-radius: 50pc;
                -o-border-radius: 50pc;
                opacity: 0;

                transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -ms-transition: all .2s ease-in-out;
            }

            &:hover::before {
                width: 100%;
                height: 100%;
                opacity: 1;
                transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -ms-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
            }

            &:hover {
                box-shadow: 0px 0px 15px var(--semiDark);
                transform: scale(1.2);
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -ms-transform: scale(1.2);
                -o-transform: scale(1.2);
                transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -ms-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
            }
        }
    }

    .right {

        .motto {
            color: var(--semiDark, #526D82);
            text-align: right;
            font-size: 64px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: 2px;
        }
    }
}

.projectSection {
    padding-top: 50px;
    margin-top: -100px;
    z-index: 2;
    position: relative;
    background-color: white;

    .containerContent {
        display: flex;
        flex-direction: column;

        .titleSection {
            color: var(--Regular, #9DB2BF);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 110%;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        h1 {

            padding: 0px 100px;
        }

        .containerProject {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: fit-content;
            margin-top: 20px;

            .project {

                padding: 0px 100px;

                a {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    border: 1px solid var(--light);
                    border-left: 0px;
                    border-top: 0px;
                    border-right: 0px;
                    padding: 50px 0px;
                    transition: all .2s ease-in-out;

                    .title {
                        padding: 0;
                        font-size: 32px;
                        font-weight: 500;
                        margin: auto 0px;
                        color: var(--regular);
                        transition: all .2s ease-in-out;
                        -webkit-transition: all .2s ease-in-out;
                        -moz-transition: all .2s ease-in-out;
                        -ms-transition: all .2s ease-in-out;
                        -o-transition: all .2s ease-in-out;
                    }

                    .position {
                        margin: auto 0px;
                    }

                    &:hover {
                        padding: 50px 20px;
                    }

                    &:hover .title {
                        color: var(--dark);
                    }
                }

            }
        }
    }

    .divWrapBefore {
        z-index: -1;
        background: white;
        width: 150vw;
        height: 900px;
        margin-left: -30.5vw;
        border-radius: 90%;
        -webkit-border-radius: 90%;
        -moz-border-radius: 90%;
        -ms-border-radius: 90%;
        -o-border-radius: 90%;
        position: absolute;
        bottom: -120px;
        box-shadow: 0px 0px 15px var(--semiDark);
    }

}

.footer {
    position: relative;
    background-color: var(--dark);
    height: 600px;
    z-index: -1;

    p {
        color: var(--white);
        position: absolute;
    }
}