@keyframes fadeBottom {
    from {
        opacity: 0;
        transform: translateY(-89px);
        -webkit-transform: translateY(-89px);
        -moz-transform: translateY(-89px);
        -ms-transform: translateY(-89px);
        -o-transform: translateY(-89px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    min-height: 89px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: #27374d91;
    z-index: 9;
    animation: fadeBottom 1s ease-in-out;
    -webkit-animation: fadeBottom 1s ease-in-out;

    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        flex-wrap: nowrap;
        padding: 35px 0px;

        .logo {

            a {
                max-width: 100px;
                height: fit-content;
                overflow: hidden;
                flex-wrap: nowrap;
                gap: 6px;
                display: flex;
                flex-direction: row;
                position: relative;
                transition: all .5s ease-in-out;
                -webkit-transition: all .5s ease-in-out;
                -moz-transition: all .5s ease-in-out;
                -ms-transition: all .5s ease-in-out;
                -o-transition: all .5s ease-in-out;

                span {
                    line-height: 110%;
                    font-size: 16px;
                    color: var(--light);
                }

                .credits {
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto 0px;
                    background-color: transparent;
                    transform: rotate(0deg);
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -ms-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transition: all .5s ease-in-out;
                    -webkit-transition: all .5s ease-in-out;
                    -moz-transition: all .5s ease-in-out;
                    -ms-transition: all .5s ease-in-out;
                    -o-transition: all .5s ease-in-out;
                    z-index: 1;
                }

                .nickname {
                    opacity: 1;
                    padding-left: 20px;
                    transform: translateX(0px);
                    -webkit-transform: translateX(0px);
                    -moz-transform: translateX(0px);
                    -ms-transform: translateX(0px);
                    -o-transform: translateX(0px);
                    transition: all .5s ease-in-out;
                    -webkit-transition: all .5s ease-in-out;
                    -moz-transition: all .5s ease-in-out;
                    -ms-transition: all .5s ease-in-out;
                    -o-transition: all .5s ease-in-out;
                }

                .name {
                    width: fit-content;
                    white-space: nowrap;
                    transform: translateX(0px);
                    -webkit-transform: translateX(0px);
                    -moz-transform: translateX(0px);
                    -ms-transform: translateX(0px);
                    -o-transform: translateX(0px);
                    transition: all .5s ease-in-out;
                    -webkit-transition: all .5s ease-in-out;
                    -moz-transition: all .5s ease-in-out;
                    -ms-transition: all .5s ease-in-out;
                    -o-transition: all .5s ease-in-out;
                }

                &:hover {
                    transform: scale(1.1);
                    max-width: 200px;
                    overflow: hidden;
                    transition: all .5s ease-in-out;
                    -webkit-transition: all .5s ease-in-out;
                    -moz-transition: all .5s ease-in-out;
                    -ms-transition: all .5s ease-in-out;
                    -o-transition: all .5s ease-in-out;
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    -o-transform: scale(1.1);

                    .credits {
                        transform: rotate(360deg);
                        transition: all .5s ease-in-out;
                        -webkit-transition: all .5s ease-in-out;
                        -moz-transition: all .5s ease-in-out;
                        -ms-transition: all .5s ease-in-out;
                        -o-transition: all .5s ease-in-out;
                        -webkit-transform: rotate(360deg);
                        -moz-transform: rotate(360deg);
                        -ms-transform: rotate(360deg);
                        -o-transform: rotate(360deg);
                    }

                    .nickname {
                        opacity: 0;
                        transform: translateX(-98px);
                        -webkit-transform: translateX(-98px);
                        -moz-transform: translateX(-98px);
                        -ms-transform: translateX(-98px);
                        -o-transform: translateX(-98px);
                        transition: all .5s ease-in-out;
                        -webkit-transition: all .5s ease-in-out;
                        -moz-transition: all .5s ease-in-out;
                        -ms-transition: all .5s ease-in-out;
                        -o-transition: all .5s ease-in-out;
                    }

                    .name {
                        padding-left: 15px;
                        transform: translateX(-98px);
                        -webkit-transform: translateX(-98px);
                        -moz-transform: translateX(-98px);
                        -ms-transform: translateX(-98px);
                        -o-transform: translateX(-98px);
                        transition: all .5s ease-in-out;
                        -webkit-transition: all .5s ease-in-out;
                        -moz-transition: all .5s ease-in-out;
                        -ms-transition: all .5s ease-in-out;
                        -o-transition: all .5s ease-in-out;
                    }
                }
            }

        }

        .navs {
            display: flex;
            flex-direction: row;
            gap: 45px;
            list-style: none;
            padding: 0px;
            margin: 0px;

            li {
                position: relative;

                a {
                    display: flex;
                    max-height: 17px;
                    overflow: hidden;
                    position: relative;

                    .wrapText {
                        position: relative;
                        color: var(--light);
                        display: flex;
                        flex-direction: column;
                        line-height: 100%;
                        transform: translateY(0);
                        -webkit-transform: translateY(0);
                        -moz-transform: translateY(0);
                        -ms-transform: translateY(0);
                        -o-transform: translateY(0);
                        transition: all .2s ease-in-out;
                        -webkit-transition: all .2s ease-in-out;
                        -moz-transition: all .2s ease-in-out;
                        -ms-transition: all .2s ease-in-out;
                        -o-transition: all .2s ease-in-out;

                        span {
                            opacity: 1;
                            position: relative;
                            line-height: 120%;
                        }

                        &:hover {
                            transform: translateY(-17px);
                            -webkit-transform: translateY(-17px);
                            -moz-transform: translateY(-17px);
                            -ms-transform: translateY(-17px);
                            -o-transform: translateY(-17px);
                            transition: all .2s ease-in-out;
                            -webkit-transition: all .2s ease-in-out;
                            -moz-transition: all .2s ease-in-out;
                            -ms-transition: all .2s ease-in-out;
                            -o-transition: all .2s ease-in-out;
                        }
                    }
                }

                &::before {
                    content: "";
                    width: 0px;
                    height: 0px;
                    position: absolute;
                    opacity: 0;
                    left: 0;
                    right: 0;
                    bottom: -20px;
                    margin: 0px auto;
                    background-color: white;
                    border-radius: 50pc;
                    -webkit-border-radius: 50pc;
                    -moz-border-radius: 50pc;
                    -ms-border-radius: 50pc;
                    -o-border-radius: 50pc;
                    transition: all .2s ease-in-out;
                    -webkit-transition: all .2s ease-in-out;
                    -moz-transition: all .2s ease-in-out;
                    -ms-transition: all .2s ease-in-out;
                    -o-transition: all .2s ease-in-out;
                }

                &:hover {
                    &::before {
                        content: "";
                        width: 5px;
                        height: 5px;
                        opacity: 1;
                        transition: all .2s ease-in-out;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1366px) {
    .navbar {

        .wrapper {
            padding: 35px;
        }
    }
}